@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'creato-display';
  src: url('../../public/creato-display/CreatoDisplay-Light.otf');
}

@font-face {
  font-family: 'creato-bold';
  src: url('../../public/creato-display/CreatoDisplay-Bold.otf');
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
  font-family: 'creato-display', sans-serif !important;
  color: var(--textDark);
}

h1 {
  font-family: 'creato-bold', sans-serif !important;

}

.stroke {
  position: relative;
  z-index: 2;
}

.stroke::before {
  content: 'Enhance your online presence through our digital solutions !';
  font-weight: bold;
  font-size: inherit;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff7a;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 2px;
  left: 2px;
}

@layer base {
  :root {
    --accent: rgba(46, 65, 218, 1);
    --textWhite: rgb(255, 255, 255);
    --textDark: rgb(0, 0, 0);
    --sectionBg: rgba(252, 244, 229, 1);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .service_txt {
    background: linear-gradient(99.38deg, rgba(0, 0, 0, 0.35) 87.84%, rgba(0, 0, 0, 0.08) 97.45%);
  }
}
